@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.container {
  padding: 3rem;
  width: 1240px;
}

.logo {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--Dark-grayish-blue);
}

a:hover {
  color: var(--Soft-red);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

nav .navbar ul {
  display: flex;
}

nav .navbar ul li {
  padding: 1rem;
  list-style: none;
}

main .main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
}

.title {
  display: flex;
  gap: 1rem;
}

.title h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content p {
  color: var(--Dark-grayish-blue);
  line-height: 1.5rem;
}

.btn {
  border: none;
  width: 40%;
  padding: 1rem;
  font-weight: 700;
  font-size: 0.75rem;
  background-color: var(--Soft-red);
  color: #fff;
  letter-spacing: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--Very-dark-blue);
}

.btn:active {
  transform: scale(0.95);
  transition: none;
}

.side {
  background-color: var(--Very-dark-blue);
  padding: 0 1.5rem;
  padding-top: 1rem;
}

.sideCard-container {
  display: flex;
  flex-direction: column;
}

.side h2 {
  font-size: 2rem;
  color: var(--Soft-orange);
}

.side-card:nth-child(-n + 2) {
  border-bottom: 1px solid #6a6a6a;
}

.side-card {
  padding: 1.5rem 0;
  color: #fff;
}

.side-card h3 {
  margin-bottom: 1rem;
  display: inline-block;
}

.side-card h3:hover {
  color: var(--Soft-orange);
  cursor: pointer;
}

.side-card p {
  line-height: 1.5rem;
  color: var(--Grayish-blue);
}

footer {
  display: flex;
  margin-top: 3rem;
}

.footer-card {
  display: flex;
  padding: 1rem 0.5rem;
}

.footer-card img {
  width: 100px;
}
.footer-content {
  padding: 0 1rem;
  padding: right 2rem;
  line-height: 2rem;
}

.footer-content h2 {
  color: var(--Grayish-blue);
  font-size: 2rem;
}

.footer-content h3 {
  display: inline-block;
}

.footer-content h3:hover {
  color: var(--Soft-red);
  cursor: pointer;
}
